body{
	font-family: Arial, sans-serif;
    	margin: 0;
    	padding: 0;
	background-color: lightcoral;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
 
h1, h2 {
	test-align: center;
	color: black;
	font-family: 'Courier New';
}


 img {
	width: 25 % ;
  	border: 5 px solid gray;
  	padding: 5 px;
}

div.ex1 {
	
	width: 300px;

	margin: auto;

	border: 2px solid #00FFFF;

}
div.ex2 {

	max-width: 300px;

	margin: auto;

	border: 2px solid #00FFFF;

}
