body{
	background-color: lightcoral;
}

 h1{
	test-align: center;
	color: black;
	font-family: "Courier New";
}

 h2{
	text-align: center;
	color: black;
	font-family: "Monaco";
}

 img {
	width: 25 % ;
  	border: 5 px solid gray;
  	padding: 5 px;
}

